<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ADD RESULT</title>
</head>

<body>
    <form action="/results/add" method="POST">
        <label for="student">Student:</label>
        <select id="student" name="student">
    {% for item in data %}
  <option value={{item[0]}}>{{item[0]}} {{item[1]}} {{item[2]}}</option>
    {% endfor %}
</select>
        <label for="quiz">Student:</label>
        <select id="quiz" name="quiz">
    {% for item in data1 %}
  <option value={{item[0]}}>{{item[1]}}</option>
    {% endfor %}
</select>
        <label for="marks">Marks:</label>
        <input type="text" id="marks" name="marks">
        <br>
        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <label><font color="red">{{value}}</font></label><br>
        </div>
        <br>
        <input type="submit" value="Save">
    </form>
</body>

</html>